<div>
    <nav class="navbar navbar-dark navbar-expand-lg shadow p-1 align-items-center bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand fs-5 " href="#"><i class="bi bi-file-word-fill fs-4 align-middle align-items-center align-self-center"></i>  <span class="px-2 align-middle align-items-center align-self-center">  WORDSITE</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-center" tabindex="-1" id="offcanvasNavbar" data-bs-backdrop="false">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" routerLink="home" routerLinkActive="active" data-bs-toggle='collapse' data-bs-target=".navbar-collapse.show"><i class="bi bi-house-door-fill"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" routerLink="words" routerLinkActive="active" data-bs-toggle='collapse' data-bs-target=".navbar-collapse.show" ><i class="bi bi-file-word-fill"></i> Words</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" routerLink="aboutme" routerLinkActive="active" data-bs-toggle='collapse' data-bs-target=".navbar-collapse.show"><i class="bi bi-person-fill"></i> About Me</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>      
</div>
